modules = ["web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42284751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 5000 -a 0.0.0.0"

[deployment]
run = ["sh", "-c", "node index.js"]

[[ports]]
localPort = 5000
externalPort = 80
