modules = ["web", "nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["j", "run", "killall"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Run"
author = 42284751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server . -p 5000 -a 0.0.0.0"

[[workflows.workflow]]
name = "Development Server"
author = 42284751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 3000
